@import "./base.css";
#app {
	/* max-width: 1280px; */
	font-weight: normal;
	background-color: var(--cl-dark-accent);

	min-width: 100%;
	min-height: 100%;
	/* display: grid;
	grid-template-rows: auto 1fr auto; */
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: var(--cl-light);
	transition: 0.4s;
	padding: 3px;
}

/* !Transitions ################################################################ */

.fade-enter-active,
.fade-leave-active {
	transition: all 0.8s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
	transform: translateX(500px);
}
.bottom-enter-active,
.bottom-leave-active {
	transition: all 0.8s ease-in-out;
}

.bottom-enter-from,
.bottom-leave-to {
	opacity: 0;
	transform: translatey(500px);
}
