@import "./base.css";

#app {
	max-width: 1280px;
	font-weight: normal;
	min-height: 100vh;
	background-color: var(--cl-dark-accent);
	/* background-image: linear-gradient(
		to right,
		var(--cl-dark-accent),
		var(--cl-dark-accent) 70%,
		var(--cl-dark-accent-2) 70%,
		var(--cl-dark-accent-2)
	); */
	min-width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

a,
.green {
	text-decoration: none;
	color: hsla(160, 100%, 37%, 1);
	transition: 0.4s;
	padding: 3px;
}

@media (hover: hover) {
	a:hover {
		background-color: hsla(160, 100%, 37%, 0.2);
	}
}

@media (min-width: 1024px) {
}
